* {
	/* border: 1px solid red; */
}
body, html {
	min-width: 880px;
	margin: 0;
	padding: 0;
	background: #f9f9f9;
    font-family: "Verdana", "Arial", sans;
}
/* menu */
#menusuperior {
	display: block;
	height: 160px;
	width: 100%;
	background: #f9f9f9;
	font-size: 13px;
	font-family: "Ubuntu", ubuntu, sans;
}
#menusuperior #menu {
	position: absolute;
	right: -26px;
	top: 85px;
}
#submenu li, #menu li, #submenu_cooperativa li {
	list-style: none;
	float: left;
}
#submenu , #submenu_cooperativa {
	display: none;
}

#cooperativa * #submenu_cooperativa, #historia * #submenu_cooperativa {
	display: block;
}

#historia .imagenes1 {
	display: block;
	margin-top: 73px;
	margin-bottom: 56px;
	width: 406px;
	height: 226px;
	background: url(../img/historia_imagen.png);
}

#gestion * #submenu, #tanques * #submenu, #plantas * #submenu {
	display: block;
}

/* nota servicios en el css del menu se llama gestion */
.gestion, .noticias, .cooperativa, .clientes, .plantas, .tanques  {
	border-right: 1px dotted #4d4d4d;
	padding-right: 14px;
	padding-left:14px;
}

#submenu li a, #menu li a,  #submenu_cooperativa  li a {
	color: #4d4d4d;
	text-decoration: none;
}

#menu li a:hover, #submenu li a:hover, #menu li.active a, #submenu_cooperativa li a:hover {
	color: #ff3511;
}

.contacto {
	padding-right: 14px;
	padding-left:14px;	
}

.como-llegar {
	border-radius: 4px;
	padding-right: 8px;
	padding-left:32px;
	background:  url(../img/icono/icono_mundo.png) 10px 8px no-repeat;
	box-shadow: 1px 2px 3px #d3d3d3;
	padding-top: 6px;
	margin-top: -6px; /* para alinearlo con el resto del menu */ 
	padding-bottom: 6px;
}



#menusuperior #submenu {
	position: absolute;
	right: 204px;
	top: 105px;
	border-left: 1px dotted #4d4d4d;
	padding-left: 4px;
}

#menusuperior #submenu_cooperativa {
	position: absolute;
	right: 470px;
	top: 105px;
	border-right: 1px dotted #4d4d4d;
	border-left: 1px dotted #4d4d4d;
	padding-right: 14px;
	padding-left: 14px;
}


.barranaranja {
	display: block;
	height: 9px;
	background: #ff3511;
}
#logo {
	position: absolute;
	top: 0;
	display: block;
	background: url(../img/logo.png);
	height: 66px;
	width: 215px;
	margin-top: 58px;
	margin-left: 58px;
}
#idioma {
	position: absolute;
	right: 99px;
	width: 96px;
	heght: 11px;
	background: #ff3511;
	font-size: 10px;
	font-family: ubuntu, sans;
	text-align: right;
	padding-bottom: 4px;
	padding-right: 4px;
	color: #fff;
}
#comollegar {
	background: url(../img/mundo.png) 0 0 no-repeat;
	box-shadow: 2 0 5px #000;
	padding-left: 32px;	
}

/* <-- menu */

#contenido {
	text-align: center;
	/* este es el fondo del home, podria ir diferente */
	background: center bottom no-repeat #216778;
}


#index #contenido {
	background: url(../img/bg/index.png) center bottom no-repeat #216778;	
}

#clientes #hometextos {
	background: url(../img/bg/clientes.png) center bottom no-repeat #216778;	
}


#plantas #contenido {
	background: url(../img/bg/plantasbg.png) center bottom no-repeat #216778;
}


#cooperativa #contenido {
	background: url(../img/bg/cooperativa.png) center bottom no-repeat #216778;
}

#contacto #hometextos {
	background: url(../img/bg/contacto.png) center -25px no-repeat #216778;
}

#gestion #contenido {
	position: relative;
	background: url(../img/bg/gestion.png) center top no-repeat #216778;
	height: 1342px;
}

#gestionfg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 537px;
	background: url(../img/bg/gestionfg.png) center top no-repeat;
}
#cooperativa #contenido p {
	line-height: 1.5;
}

/* Platas */
#homebanner {
	background: #004455;
}
#plantas #homebanner {
	height: 417px;
}
#homebanner h1 {
	widht: 100%;
	font-size: 89px; 
	font-family: "Ubuntu", sans;
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	height: 132px;
	margin: 0;
	padding: 0;
	padding-top: 25px;
}



#homebanner .imagen {
	widht: 100%;
	height: 261px;
	widht: 285px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#plantas * #homebanner .imagen {
	background: url(../img/banner/plantas.jpg) no-repeat center 0;
}

#cooperativa * #homebanner .imagen {
	background: url(../img/banner/cooperativa.jpg) no-repeat center 0;
}

#tanques * #homebanner .imagen {
	background: url(../img/banner/tanques.jpg) no-repeat center 0;
}


/* home */
#index #homebanner {
	background: #2c89a0;
	position: relative;
	height: 321px;
}


/* < Plantas */

#homebanner * .texto1, #homebanner * .texto2 {
	position: absolute;
	font-size: 24px;
	font-family: "Yanone Kaffeesatz", impact, sans-serif;
	background: #2c89a0;
	padding-left: 96px;
	padding-right: 12px;
	widht: 0;
	color: #fff;
}
#homebanner .contenedor {
	background: url(../img/banner/index.png);
	width: 1067px;
}

#homebanner .texto1 {
	top: 42px;
}
#homebanner .texto2 {
	top: 80px;
}
#homeanimacion {
	position: relative;
	display: block;
	background: #f9f9f9;
	height: 120px;
	font-family: "Alegreya Sans SC", sans;
	font-size: 22px;
	text-align: left;
	color: #216778;
	overflow: hidden;
}
#homeanimacion img {
	position: absolute;
	left: 57px;
	bottom: 15px;
}
#homeanimaciontexto {
	position: absolute;
	left: 0;
	top: 31px;
}
#homeanimacionbg {
	position: absolute;
	right: -140px;
	bottom: -2px;
	width: 512px;
	height: 96px;
	background: url(../img/homeanimacionbg.png);
}

#index #hometextos {
	position: relative;
	height: 437px;
}
#cooperativa * #hometextos {
	padding-bottom: 26px;	
}
#clientes * #hometextos {
	padding-bottom: 201px;	
}

#clientes * .s01 div, #clientes * .s02 div, #clientes * .s03 div {
	height: 100px;
	width: 100%;
}

#clientes * .s01 , #clientes * .s02 , #clientes * .s03 {
	padding-top: 60px;
}


/* Clientes A */
#clientes #a01 {
	background: url(../img/clientes/clientes_a01.png) no-repeat center;
}
#clientes #a02 {
	background: url(../img/clientes/clientes_a02.jpg) no-repeat center;
}
#clientes #a03 {
	background: url(../img/clientes/clientes_a03.png) no-repeat center;
}
#clientes #a04 {
	background: url(../img/clientes/clientes_a04.png) no-repeat center;
}
#clientes #a05 {
	background: url(../img/clientes/clientes_a05.png) no-repeat center;
}

/* Clientes B */
#clientes #b01 {
	background: url(../img/clientes/clientes_b01.png) no-repeat center;
}
#clientes #b02 {
	background: url(../img/clientes/clientes_b02.jpg) no-repeat center;
	height: 130px;
}
#clientes #b03 {
	background: url(../img/clientes/clientes_b03.png) no-repeat center;
	height: 170px;
}
#clientes #b04 {
	background: url(../img/clientes/clientes_b04.png) no-repeat center;
}
#clientes #b05 {
	background: url(../img/clientes/clientes_b05.png) no-repeat center;
}

/* Clientes C */
#clientes #c01 {
	background: url(../img/clientes/clientes_c01.png) no-repeat center;
}
#clientes #c02 {
	background: url(../img/clientes/clientes_c02.png) no-repeat center;
}
#clientes #c03 {
	background: url(../img/clientes/clientes_c03.png) no-repeat center;
}
#clientes #c04 {
	background: url(../img/clientes/clientes_c04.png) no-repeat center;
}
#clientes #c05 {
	background: url(../img/clientes/clientes_c05.png) no-repeat center;
}

#tanques * #hometextos {
	padding-bottom: 65px;	
}

#plantas * #hometextos {
	padding-bottom: 45px;	
}

/* plantas > */
#hometextos {
	color: #fff;
}
#hometextos ul, #hometextos p {
	position: relative;
	margin: 0;
	padding: 0;
	width: 880px;
	height: 100%;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	position: relative;
	font-size: 16px;
	font-family: sans;
	padding-top: 21px;
	text-align: left;
}

#hometextos p+p {
	margin-top: 14px;	
}

#tanques p {
	margin-top: 40px;
	margin-bottom: 30px;
}

h3 * {
	font-family: "Yanone Kaffeesatz", impact, serif;
	font-size: 24px;
	color: #87cdde;
	font-weight: normal;
}
#tanques * table+h2 {
	margin-top: 58px;
}

#tanques h2 * {
	text-align: left;	
}



#hometextos ul li {
	margin-left: 17px;	
	padding-left: 17px;	
}

#hometextos ul {
	margin-bottom: 26px;
}

#hometextos h2 {
	font-size: 24px;
	font-family: "Alegreya Sans SC", sans;
	font-weight: normal;
	background: #004455;
	padding-top: 18px;
	padding-bottom: 14px;
	margin: 0;
}


#gestion #hometextos h2 {
	font-size: 16px;
	font-family: sans, Arial;
	text-align: left;
	color: rgb(196,223,230);
}

#hometextos h3 {
	font-size: 22px;
	font-family: "Ubuntu", sans;
	text-align: left;
}
#hometextos h1 {
	font-family: "Ubuntu Mono", Ubuntu, sans;
	font-size: 48px;
	text-decoration: none;
	font-weight: normal;
	color: #87cdde;
}

#clientes * #hometextos  h1 {
	padding-top: 30px;
}

/* < plantas */

#index * #hometextos h1 {
	position: absolute;
	left: 159px;
	top: 74px;
	font-family: "Ubuntu Mono", Ubuntu, sans;
	font-size: 22.2px;
	text-decoration: none;
	font-weight: normal;
	width: 144px;
	margin: 0;
	padding: 0;
	color: #fff;
}

#index #hometextos h2 {
	position: absolute;
	top: 177px;
	left: 0;
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background: none;
	font-size: 22px;
}
#hometextos #obrero {
	position: absolute;
	left: 14px;
	top: 84px;
	background: url(../img/obrero.png);
	width: 67px;
	height: 70px;
}
#hometextos .parrafo1 {
	position: absolute;
	font-family: sans;
	font-size: 11px;
	top: 216px;
	left: 0;
	width: 439px;
	text-align: justify;
	line-height: 2;
}
#hometextos .parrafo2 {
	position: absolute;
	font-family: sans;
	font-size: 11px;
	top: 216px;
	right: 0;
	width: 339px;
	text-align: justify;
	line-height: 2;
}

#homesolapas {
	height: 121px;	
	background: #2c89a0;
	text-align: center;
}
#barraceleste {
	font-size: 24px;
	font-family: "Yanone Kaffeesatz", impact, serif;
	background: #87cdde;	
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

#homesolapas a, #barraceleste span {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	width: 66px;
	height: 20px;
	text-decoration: none;
	color: #06262e;
	text-align: center;
	padding-top: 71px;
}
#barraceleste span {
	width: 150px;
	margin-top: 0;
	height: 126px;
	padding: 0;
	padding-top: 20px;
	color: #004455;
	display: inline-block;
}
#barraceleste * big {
	font-size: 36px;
}
#barraceleste * small {
	font-size: 24px;
}


#cooperativa * #barraceleste {
	height: 62px;  /* esto se necesita en cooperativa */
}

#tanques * #barraceleste,  #plantas * #barraceleste{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 125px;  /* esto se necesita en cooperativa */
}


#historia * #barraceleste {
	font-family: "Alegreya Sans SC";
	text-align: left;
}

#historia * h2 {
	text-align: left;
	font-size: 16px;
}

#historia #hometextos {
	padding-bottom: 52px;
	line-height: 1.5;
}

#homesolapas a.gestion,	#homesolapas a.tanques, #barraceleste .comienzo {
	margin-right: 200px;
}
#homesolapas a.gestion {
	background: url(../img/gestion.png) no-repeat;
}
#homesolapas a.tanques {
	background: url(../img/tanques.png) no-repeat;
}
#homesolapas a.plantas {
	background: url(../img/plantas.png) no-repeat;
}
#homesolapas a:hover {
	color: #ffffff;
	/* esto requiere animacion */
}
#homecaja {
	position: relative;
	font-family: "Ubuntu Mono", sans, sans-serif;
	font-size: 15px;
	color: #808080;
	height: 50px;	
	width: 675px;	
	background: #f9f9f9;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 52px;
	padding-right: 52px;
	padding-top: 15px;
}
#homecaja b {
	color: #333333;
	font-weight: normal;
}

/* <-- home */


/* pie */
#pie {
	position: relative;
	background: #f9f9f9;
	height: 84px;
	color: #808080;
	font-size: 12px;
	font-family: ubuntu, sans;
	text-align: center;
	padding-top: 34px;
}
#pie a {
	color: #ff3511;
	text-decoration: none;
}

#coopdisenio {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
	background: url('../img/cooperativa_disenio.png');
	width: 114px;
	height: 19px;
}
/* genericos */
.contenedor {
	tex-align: left;
	width: 880px;
	height: 100%;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	position: relative;
}
#cooperativa * h2 .contenedor  {
	width: 960px;
	tex-align: center;
}

.sombra1 {
	position: relative;
	width: 100%;
	padding-top: 33px;
	background: url(../img/sombra1.png);
	z-index: 1;
	top: 0;
	left: 0;
}
.relativo {
	 /* le quita volumen */
	margin-bottom: -33px;
}
.sombra2 {
	position: absolute;
	width: 100%;
	height: 33px;
	background: url(../img/sombra2.png);
	z-index: 1;
	bottom: 0;
}

table {
	display: inline;
	border: 1px solid #d5f6ff;
	width: 420px;
	font-family: "Yanone Kaffeesatz", times, serif;
	font-size: 20px;
	border-collapse: collapse;
}

table+table {
	margin-left: 35px;
}

thead {
	background: #87cdde;
	color: #004455;

}

tr, td, th, table, tbody, thead {
	margin: 0;
	padding: 0;
	border: 0;
}

td, th {
	border: 1px solid #d5f6ff;
}

td {
	width: 140px;
}


/* gestion --> */

.imagenes3 {
	font-family: "Yanone Kaffeesatz", times, serif;
	font-size: 20px;
	height: 160px;
	overflow: hidden;
	position: relative;
}

.imagenes3 .imagen {
	position: absolute;
	top: 0;
	height: 160px;
	width: 274px;
}

#clientes * .imagenes3 {
	height: 643px;
}

#clientes * .imagenes3 .imagen {
	background: #fff;
	width: 224px;
	height: 643px;
}

.imagenes3 .imagen span {
	height: 28px;
	background: #004455;
	position: absolute;
	left: 0;
	bottom: 31px;
	padding-left: 14px;
	padding-right: 14px;
}

/* serie de imagenes */

.imagenes3 .s01 {
	left: 0;
}
.imagenes3 .s02 {
	left: 301px;
}
.imagenes3 .s03 {
	right: 0;
}



#index #contenido {
	padding-bottom: 62px;
}

#plantas #hometextos h1 {
	/* area para se vean los iconos del fondo */
	margin-top: 320px;	
}

/* plantas */
#plantas .imagenes3 .s01 {
	background: url('../img/imagenes3/planta_s01.jpg');
}
#plantas .imagenes3 .s02 {
	background: url('../img/imagenes3/planta_s02.jpg');
}
#plantas .imagenes3 .s03 {
	background: url('../img/imagenes3/planta_s03.jpg');
}


#gestion .imagenes3 .s01 {
	background: url('../img/imagenes3/gestion_s01.jpg');
}
#gestion .imagenes3 .s02 {
	background: url('../img/imagenes3/gestion_s02.jpg');
}
#gestion .imagenes3 .s03 {
	background: url('../img/imagenes3/gestion_s03.jpg');
}

/* cooperativa */
#cooperativa .imagenes3 .s01 {
	background: url('../img/imagenes3/cooperativa_s01.jpg');
}
#cooperativa .imagenes3 .s02 {
	background: url('../img/imagenes3/cooperativa_s02.jpg');
}
#cooperativa .imagenes3 .s03 {
	background: url('../img/imagenes3/cooperativa_s03.jpg');
}
#cooperativa * p {
	position: relative;
}
#cooperativa * #icono_obreros  {
	position: relative;
	margin: 0;
	padding: 0;
	width: 880px;
	height: 100%;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	position: relative;
	font-size: 16px;
	font-family: sans;
	padding-top: 0;
	height: 59px;
	top: -20px;
	margin-bottom: -20px;
	text-align: left;
	background: url('../img/icono/icono_obreros.png') right 0 no-repeat;
}
/* ---- */

.imagenes2 {
	color: #00222b;
	font-family: "Yanone Kaffeesatz", times, serif;
	font-size: 20px;
	height: 297px;
	overflow: hidden;
}
#gestion * .imagenes2 {
	margin-top: 50px;	
}


.imagenes2 .imagen {
	position: absolute;
	top: 0;
	height: 297px;
	width: 403px;
}
.imagenes2 .imagen span {
	height: 28px;
	background: #5fbcd3;
	position: absolute;
	left: 0;
	bottom: 31px;
	padding-left: 14px;
	padding-right: 14px;
	z-index: 2;
}
.imagenes2 .s01 {
	background: url('../img/imagenes2/gestion_m01espuma.jpg');
}

.imagenes2 .s03 {
	background: url('../img/imagenes2/gestion_m02hidrantes.jpg');
	position: absolute;
	right: 0;
}

#gestion #contenido {
	padding-bottom: 140px;
}



#noticias #contenido {
	padding-bottom: 80px;
}


/* <-- gestion */

/* clientes --> */

#clientes * .columna1, #clientes * .columna2, #clientes * .columna3 {
	background: #fff;
	width: 224px;
	height: 643px;
	display: inline-block;
}
#clientes * .columna1 {
	margin-right: 71px;
}
#clientes * .columna2 {
	margin-right: 71px;
}
/* <-- clientes */

/* noticias */

#noticias img {
	display: block;
	width: 189px;
	height: 141px;
	float: left;
	margin-right: 41px;
}

#noticias #hometextos h2 {
	font-size: 20px;
	font-family: "Alegreya Sans SC", sans;
	background: #004455;
	padding-top: 15px;
	padding-bottom: 13px;
	margin: 0;
	background: #2c89a0;
	text-align: left;
}

#noticias p {
	border-bottom: 1px solid #afdde9;
	height: 122px;
	width: 657px;
	padding: 0;
	padding-left: 223px;
	line-height: 1.5;
	margin-bottom: 41px;
	padding-top: 19px;
	position: relative;
}

#noticia1:target, #noticia2:target,  #noticia3:target {
	height: 360px;
	padding-left: 380px;
	width: 500px;
}

#noticias p .mas, #noticias p .menos {
	position: absolute;
	right: -30px;
	bottom: -11px;
	display: block;
	color: #aaeeff;
	text-decoration: none;
	height: auto;
	background: #216778;
	padding-left: 25px;
	background: url(../img/icono/mas.png) 11px 6px no-repeat #216778;
}
#noticias p .menos {
	background-image: url(../img/icono/menos.png);
}

#noticias p span,  #noticias p .menos {
	display: none;
}


#noticia1 {
	background: url(../img/noticias/noticia_01s.jpg) 0 0 no-repeat;
}

#noticia1:target {
	background: url(../img/noticias/noticia_01g.jpg) 0 0 no-repeat;
}

#noticia2 {
	background: url(../img/noticias/noticia_02s.jpg) 0 0 no-repeat;
}

#noticia2:target {
	background: url(../img/noticias/noticia_02g.jpg) 0 0 no-repeat;
}

#noticia3 {
	background: url(../img/noticias/noticia_03s.jpg) 0 0 no-repeat;
}

#noticia3:target {
	background: url(../img/noticias/noticia_03g.jpg) 0 0 no-repeat;
}


#noticia1:target span, #noticia2:target span,  #noticia3:target span {
	display: block;
}

#noticia1:target .menos, #noticia2:target .menos,  #noticia3:target .menos {
	display: block;
}

#noticia1:target .mas, #noticia2:target .mas,  #noticia3:target .mas {
	display: none;
}

/* <-- noticias */

#logo a {
	display: block;
	width: 100%;
	height: 100%;
}


/* contactos --> */
form {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 880px;
	padding-bottom: 165px;
	font-weight: normal;
}
form * {
	font-family: "Ubuntu", ubuntu, sans;
	font-size: 20px;
}
.field {
	width: 100%;
	border-bottom: 1px dashed #fff;	
	padding-top: 54px;
}
.textarea {
	border-bottom: 0;
	font-size: 16px;
}
label {
	float: left;
	padding-left: 13px;	
}
input[type=text] {
	font-size: 16px;
	width: 763px;
	height: 100%;
	border: none;
	background: transparent;
	color: #fff;
	padding-bottom: 4px;
}
textarea {
	width: 100%;
	height: 240px;
	background: transparent;
	border: none;
	padding: 16px;
}

input[type=submit] { 
	width: 130px;
	height: 40px;
	color: rgb(250,28,14);
	font-size: 18px;
	text-decoration: uppercase;
	right: 0;
	top: 60px;
	background: #fff;
	border: 0;
	border-radius: 6px;
	margin-top: 60px;
	float: right;
	box-shadow: 1px 5px 3px rgb(29,87,100);
}

/* <-- contactos */